/* Scss Document */

$myFont: "PT Sans Caption", sans-serif; 
$myColor: #fc3205;

	body {
		font: {
			family: $myFont;
			size: 1em; 
		}
		background-color: whitesmoke;
	}

	nav {
		ul {
			list-style-type: none;
  			margin: 0;
  			padding: 0;
  			overflow: hidden;
			background-color: $myColor;
			position: sticky; 
			top: 0; 
			  
		}

	
		li {
			float: right;
			border-left: 1px solid #111111;

			a {
				display: block; 
				color: whitesmoke; 
				text-align: center; 
				padding: 16px 16px;
				text-decoration: none;  
			}

			a:hover:not(.active) {
				background-color: darkred; 
			}

			.active {
				background-color: black; 
			}
		}
			
    }
    
    .tag
     {
		height: 75px; 
		width: 100%; 
		background-image: linear-gradient(#ff0000, #eb1515);

		h3 {
			text-align: left; 
			padding: 20px 0 0 0;
			margin: 0 15px 15px 15px; 
			color: white; 
			font-weight: bold;
			font-size: 1.5em;   
		}
    }

    .column {
		float: left; 
		width: 33.33%;

		h5 {
			font-size: 1.5em; 
			color: black; 
			font-family: $myFont; 
			margin-left: 20px; 
		}

		p {
			font-size: 1em; 
			color: black; 
			font-family: $myFont; 
			margin-left: 30px; 
		}

		#placeholder {
			background-color: #b99ff0; 
			width: auto; 
			height: auto; 
			padding: 10px; 
			display: inline-block; 
		}

		#vid_placeholder {
			background-color: #b99ff0; 
			width: auto; 
			height: auto; 
			padding: 20px; 
			display: inline-block; 
			
		}
	}

	.row:after {
		content: "";
		display: table; 
		clear: both; 
	}

    
