/* Scss Document */

$myFont: "PT Sans Caption", sans-serif; 
$myColor: #fc3205;

	body {
		font: {
			family: $myFont;
			size: 1em; 
		}
		background-color: black;
	}

	nav {
		ul {
			list-style-type: none;
  			margin: 0;
  			padding: 0;
  			overflow: hidden;
			background-color: $myColor;
			position: sticky; 
			top: 0; 
			  
		}

	
		li {
			float: right;
			border-left: 1px solid #111111;

			a {
				display: block; 
				color: whitesmoke; 
				text-align: center; 
				padding: 16px 16px;
				text-decoration: none;  
			}

			a:hover:not(.active) {
				background-color: darkred; 
			}

			.active {
				background-color: black; 
			}
		}
			
	}

	
	.slogan {
		height: 300px; 
		width: 100%; 
		background-image: linear-gradient(#ff0000, #eb1515);

		p {
			text-align: center; 
			padding: 80px 0 0 0;
			margin: 0 15px 15px 0; 
			color: white; 
			font-weight: bold;
			font-size: 2em;   
		}
	}

	#pagina {
		margin: 0 0 0 50px; 
	}

	.contenedor {
		background-color: white; 
		height: 500px;
		width: 100%; 
		margin: 0 0 0 50px; 
		position: relative; 
		left: 450px;
		bottom: 515px;  	
	}

	#texto_slideshow {
		padding: 20px 0 0 40px; 
		font-size: 2em; 
		font-weight: bold;
	}
	